# Performance Analysis

In [11]:
import sys
import pandas as pd
import numpy as np
import pickle as pkl
from keras.models import load_model

Using TensorFlow backend.

In [6]:
data = pd.read_csv('../data/performance_analysis_set.csv')
data.head()

,Unnamed: 0,DOSE_0.01,DOSE_0.04,DOSE_0.12,DOSE_0.37,DOSE_1.11,DOSE_10.00,DOSE_3.33,b,b0,b1,m,s,t,id
0,0,0.150153,0.243241,0.329830,0.425266,0.496612,0.670741,0.592739,0.496722,-9.760517,-2.532822,0.183198,0.01,0.002966,MT19937_13:19:00.345293_1
1,1,0.996433,1.002511,1.019785,0.987595,0.991855,1.002127,0.983343,1.772664,-9.410662,-9.082224,0.413241,0.01,0.013459,MT19937_13:19:00.348284_1
2,2,0.981045,1.007139,1.005609,1.002811,0.994674,0.979080,0.999117,1.354451,-9.398303,-6.743288,0.238254,0.01,0.016642,MT19937_13:19:00.350284_1
3,3,0.597191,0.099056,0.006038,-0.009737,-0.005055,0.161535,0.055578,-0.088353,-9.657438,-5.380044,0.261087,0.01,2.179940,MT19937_13:19:00.352287_1
4,4,0.016797,-0.004381,0.155710,0.392913,0.610635,0.994118,0.837154,0.586768,-7.410052,-0.409821,0.488751,0.01,0.063310,MT19937_13:19:00.354282_1

In [9]:
dose_names = ['DOSE_0.01', 'DOSE_0.04','DOSE_0.12','DOSE_0.37','DOSE_1.11','DOSE_3.33','DOSE_10.00']
x = data[dose_names].values

In [13]:
model = load_model('./../best_model/best_model.159-55.24.h5')

In [17]:
model.predict(x).shape

(180010, 1)

In [18]:
Yhat = pd.DataFrame({'yhat':model.predict(x).ravel()})

In [19]:
data = pd.concat([data, Yhat])
data.head()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,DOSE_0.01,DOSE_0.04,DOSE_0.12,DOSE_0.37,DOSE_1.11,DOSE_10.00,DOSE_3.33,Unnamed: 0,b,b0,b1,id,m,s,t,yhat
0,0.150153,0.243241,0.329830,0.425266,0.496612,0.670741,0.592739,0.0,0.496722,-9.760517,-2.532822,MT19937_13:19:00.345293_1,0.183198,0.01,0.002966,NaN
1,0.996433,1.002511,1.019785,0.987595,0.991855,1.002127,0.983343,1.0,1.772664,-9.410662,-9.082224,MT19937_13:19:00.348284_1,0.413241,0.01,0.013459,NaN
2,0.981045,1.007139,1.005609,1.002811,0.994674,0.979080,0.999117,2.0,1.354451,-9.398303,-6.743288,MT19937_13:19:00.350284_1,0.238254,0.01,0.016642,NaN
3,0.597191,0.099056,0.006038,-0.009737,-0.005055,0.161535,0.055578,3.0,-0.088353,-9.657438,-5.380044,MT19937_13:19:00.352287_1,0.261087,0.01,2.179940,NaN
4,0.016797,-0.004381,0.155710,0.392913,0.610635,0.994118,0.837154,4.0,0.586768,-7.410052,-0.409821,MT19937_13:19:00.354282_1,0.488751,0.01,0.063310,NaN